@tailwind base;
@tailwind components;
@tailwind utilities;

.TableLayout {
  text-align: center;
  border-radius: 2px;
  font-size: 14px;
  color: #303633;
  border: 1px solid #8be8cb;
  border-left: 5px solid #8be8cb;
  border-right: 5px solid #8be8cb;
  padding: 12px 5px;
  margin-bottom: 20px;
  cursor: default;
  outline: none;
}
